header {
  background-color: #181818;
  height: 46px;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 80%;
}
.menu-icon {
  width: 24px;
  height: 16px;
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.header_image {
  display: none;
  width: 48px;
  height: 47px;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}

.header_image.open {
  display: block;
}

.header_text {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
  margin-right: 50%;
  color: #ffc700;
  font-size: 12px;
  display: none;
}

.header_text.open {
  display: block;
}
